.nav {
  margin-bottom: 30px;
}

.navBar {
  border-bottom: 2px solid;
  display: flex;
}

.navTextContainer {
  flex-grow: 1;
  height: 42px;
  overflow: hidden;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
}

.navText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navButton {
  border: none;
  cursor: pointer;
  height: 40px;
  font-size: 22px;
  padding-left: 6px;
  padding-right: 6px;
  position: relative;
  top: 3px;
  width: 40px;
}

.navButtonIcon {
  height: 36px;
  padding-bottom: 5px;
  margin: 0 auto;
  transform-origin: 14px 18px;
  transition: transform 0.2s ease-in-out;
  width: 28px;
}

.navButtonIconClosed {
  transform: none;
}

.navButtonIconOpen {
  transform: rotate(-45deg);
}

.navButton:focus {
  outline: none;
}
