@media (max-width: 992px) {
  .gap {
    grid-column: span 2;
  }

  .right-column.metaColumn {
    grid-column: span 3;
  }
}

@media (max-width: 768px) {
  .gap {
    grid-column: span 0;
  }

  .metaColumn {
    padding-top: 0;
    grid-column: span 12;
  }

  h3.firstMetaHeader {
    border-top: 2px solid;
    margin-top: 100px;
    padding-top: 16px;
    width: 300px;
  }

  .workIcon {
    display: none;
  }
}
